.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  main {
    margin: 20px 0px;
  }
}

footer {
  margin-top: auto;
}

Header {
  position: sticky;
}
